<section class="container">
  {{!-- <div class="main-container m-2"> --}}
    <div class="mt-5 ms-3">
      <h3 class="p-4">All Projects</h3>
      <div class="my-2 d-flex flex-row flex-wrap justify-content-center">
        {{#if projects.length}}
        {{#each projects as |project|}}
        {{> project-list}}
        {{/each}}
        {{else}}
        <p>You have no current projects.</p>
        {{/if}}
      </div>
    </div>

    <div class="ms-3 p-4 my-3">
    <h3 class="d-inline">{{currentProject.name}}</h3>
    {{#if isMgr}}
    <a class="d-inline-block my-3 mx-4 btn bg-primary text-white" data-id="{{currentProject.id}}" id="deleteProjectBtn"
      href="/dashboard/newProject">Delete Project</a>
    {{/if}}
    </div>

    {{!-- flex container --}}
    <div class="container-fluid d-flex flex-column m-0">
      {{!-- left flex --}}
      <div class="row justify-content-center">
        <div class="border border-dark border-1 p-4 col-sm-4 mx-2 rounded bg-light text-center">
          <h3 class="text-center my-3">Project Employees</h3>
          {{!-- display this btn inline with heading --}}
          <a class="d-inline-block my-3 mx-4 btn bg-primary text-white"
            href="/project/addEmployee/{{currentProject.id}}">Add New Employee</a>

          {{!-- all employees on project --}}
          {{#if addEmployee}}
          <form id="newEmployeeForm" class="p-2 bg-light border border-dark rounded">
            {{#each allEmployees as |allEmployee|}}
            {{> employees-to-add}}
            {{/each}}
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          {{/if}}

          {{#each employees as |employee|}}
          {{> employee-list}}
          {{/each}}
        </div>

        {{!-- right flex --}}
        <div class="border border-dark border-1 p-4 col-sm-7 mx-2 rounded bg-light">
          <div class="text-center">
          <h3 class="my-3">Project Tasks</h3>
          {{#if isMgr}}
          <a class="my-3 mx-4 btn bg-primary text-white"
            href="/project/newTask/{{currentProject.id}}">Add New Task</a>
            </div>

          {{/if}}
          {{#if newTask}}
          <form id="newTaskForm" class="p-2 bg-light border border-dark rounded">
            <div class="mb-3 mt-3 mx-3">
              <label for="newTask" class="form-label">Task</label>
              <input class="form-control" id="newTaskInput" placeholder="Enter new task">
            </div>
            <div class="mb-3 mx-3">
              {{#each allEmployees as |allEmployee|}}
              {{> employees-to-add}}
              {{/each}}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          {{/if}}

          {{#if isMgr}}

          {{#if tasks.length}}
          {{#each tasks as |task|}}
          {{> mgr-task-details}}
          {{/each}}
          {{else}}
          <p class="my-2">There are no current tasks.</p>
          {{/if}}

          {{else}}
          {{#if tasks.length}}
          {{#each tasks as |task|}}
          {{> task-details}}
          {{/each}}
          {{else}}
          <p class="my-2">There are no current tasks.</p>
          {{/if}}
          {{/if}}
        </div>
      </div>
    </div>
  {{!-- </div> --}}
</section>

{{#if addEmployee}}
<script src="/js/addEmployee.js"></script>
{{/if}}
{{#if newTask}}
<script src="/js/newTask.js"></script>
{{/if}}
{{#if isMgr}}
<script src="/js/deleteTask.js"></script>
<script src="/js/deleteProject.js"></script>
{{/if}}
{{!-- end of code --}}